body {
    background-color: #FFFEF6;
    height: 100%;
    padding: 0.2em;
    margin: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.outline {
    outline: 1px solid black;
}  

#top-nav {
    height: 6em;
    width: 95vw;
    border-radius: 3em;
    margin: 1em auto;
    position: relative;
    background-color: #18327F;
}

#left-nav {
    margin: 0;
    float: left;
    padding: 0;
}

#left-nav li {
    margin: 0.9em 0 0 2.4em;
    list-style: none;
    font-size: 2em;
    font-family: 'Passion One', sans-serif;
    display: inline-block;
    font-weight: 700;
    
}

#right-nav {
    margin: 0;
    padding: 0;
    float: right;
}

#right-nav li {
    margin: 0.9em 2.8em 0 -0.1em;
    list-style: none;
    font-size: 2em;
    font-family: 'Passion One', sans-serif;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
}

#left-nav li a,
#right-nav li a {
    color: #ddd;
}

#left-nav li a:hover,
#right-nav li a:hover {
    color: #999;
}

#right-nav-mobile,
#left-nav-mobile {
    display: none;
    font-family: 'Passion One', sans-serif;
    color: #333;
}

#top-logo {
    max-width: 21em;
    position: absolute;
    clear: both;
    z-index: 100;
    display: block;
    left: 50%;
    margin-left: -136px;
}

main {
    position: relative;
}

#main-body {
    font-family: 'Passion One', Garamond, sans-serif;
    font-size: 1.1em;
    height: 15em;
    width: 95vw;
    position: relative;
    margin: 0 auto;
}

.content {
    text-indent: 2em;
    padding: 1em;
    font-size: 1.5em;
}

#description {
    padding: 0.1em 1em;
}

.description-img {
    width: 8em;
    margin: -1em 2em 0 0;
    float: right;
}

.gallery {
    text-align: center;
    padding: 0;
    margin: 0 auto 3em;
}

.gallery:last-of-type {
    margin: 0 auto 0;
}

.gallery-item {
    display: inline-block;
    list-style: none;
    font-size: 1.2em;
    margin: 0 0 1.4em 0;
}

.gallery-item img {
    25em:
    width: 25em
    box-shadow: 5px 5px 3px -1px #888888;
    border-radius: 4px;
    width: 25em;
    height: 25em;
}

.gallery-item figcaption {
    font-size: 1em;
}

.rotate90 {
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}

#main-logo {
    max-width: 10em;
    border-radius: 0em;
    position: absolute;
    display: block;
    top: -6.3em;
    left: 50%;
    margin-left: -86px;
    height: 13em;
}

#footer {
    width: 95vw;
    height: 0.3em;
    margin: 7em 0 0 0;
    text-align: center;
    position: relative;
    background-color: green;
    border-radius: 1em;
}

.fblogo {
    text-align: center;
    width: 2em;
    background-color: #228CF6;
    border-radius: 0.3em;
    margin: -15px 0 0 0;
}

#contact {
    margin: 4em auto 0.5em;
    z-index: 100;
    text-align: center;
}

@media (max-width: 1200px) {
    #right-nav li {
        margin: 1.4em 1.6em 0 -0.1em;
        font-size: 1.5em;
    }

    #left-nav li {
        margin: 1.4em 0 0 1.6em;
        font-size: 1.5em;
    }

    #top-logo {
        max-width: 17em;
    }
}

@media (max-width: 800px) {
    #right-nav li {
        font-size: 1.2em;
        margin: 2em 1.2em 0 -0.1em;
    }

    #left-nav li {
        font-size: 1.2em;
        margin: 2em 0 0 1.2em;
    }

    .content {
        padding: 0;
        font-size: 1em;
    }
}

@media (max-width: 1236px) and (orientation: landscape) {
    .gallery-item img {
        width: 9em;
        height: 9em;
        max-width: 29vw;
    }

}

@media (max-width: 800px) and (orientation: landscape) {
    .gallery-item img {
        width: 9em;
        height: 9em;
        max-width: 29vw;
    }

    .gallery-item {
        margin: 0 0 -1.5em 0;
    }

}

@media (max-width: 622px) {
        #top-logo {
            top: 0.3em;
        }

        hr {
            clear: both;
        }

        #left-nav-mobile {
            float:left;
            display: block;
            padding: 0;
        }

        #right-nav-mobile {
            float: right;
            display: block;
            padding: 0;
        }

        #right-nav-mobile li {
            list-style: none;
            display: inline-block;
            margin: 0 5vw 0 0;
        }

        #left-nav-mobile li {
            list-style: none;
            display: inline-block;
            margin: 0 0 0 5vw;
        }

        #left-nav-mobile li a,
        #right-nav-mobile li a {
            color: #333;
        }

        #left-nav,
        #right-nav {
            display: none;
        }

        .description-img {
            width: 7em;
            margin: -1em -1.2em 0 0;
        }
}

@media (max-width: 506px) and (orientation: portrait) {
    .gallery-item img {
        width: 11em;
        height: 11em;
    }

    .gallery {
        margin: 0 auto;
    }

    #footer {
        margin: 2em 0 0 0;
    }
}

